@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*Normal style for desktop*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  background-color: #faf8f6;
}

/*HEADER  STARTS HERE*/

.header {
  margin-top: 30px;
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header a {
  text-decoration: none;
  color: #36454f;
}

.logo {
  grid-column: 1 / 5;
  padding: 50px;
  font-family: "Raleway", serif;
  font-size: 10px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar {
  grid-column: 5 / 13;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-size: 7px;
  text-transform: uppercase;
}

.navbar a {
  position: relative;
  color: #36454f;
  text-decoration: none;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: #36454f;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
}

/*HEADER  ENDS HERE*/

/*SLIDER STARTS HERE*/
.slider {
  width: 800px;
  height: 600px;
  overflow: hidden;
  grid-column: 3/9;
  grid-row: 2 / 3;
}

.slides {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 800px;
  height: 500px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SLIDER ENDS HERE*/

/*FOOTER STARTS HERE*/

#footer {
  margin-top: 50px;
  padding: 50px;
  grid-column: 1 / 11;
  grid-row: 10 / 11;
  display: flex;
  justify-content: center;
}

#footer h3 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

/*!!!PHONE STARTS HERE !!!*/

@media screen and (max-width: 768px) {
  /* General body styles */

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 0 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 2;
    margin-top: 10px;
  }

  .logo {
    font-size: 10px;
    padding: 10px;
  }

  /*
    .navbar {
        grid-column: 1 / 2; /* Navbar takes full width 
        padding: 20px; /* Adjust padding 
        font-size: 12px; /* Adjust font size for smaller screens 
    }

    .navbar a {
        font-size: 5px; /* Increase font size on navbar links 
    }

    */

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #faf8f6;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    z-index: 1000;
  }

  .navbar a {
    display: block;
    padding: 10px;
    font-size: 7px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .slider {
    grid-column: 1 / 2;
    width: 100%;
    height: 250px;
    max-width: 100%;
  }

  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #footer {
    grid-column: 1 / 2;
    text-align: center;
  }

  #footer h3 {
    font-size: 12px;
  }
}
